# ===============================
# Git
# ===============================
.git
.gitignore

# ===============================
# Python cache
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ===============================
# Virtual environments
# ===============================
.venv/
venv/
env/

# ===============================
# Environment variables
# ===============================
.env
.env.*
!.env.example

# ===============================
# Logs
# ===============================
logs/
*.log


# ===============================
# Alembic
# ===============================
alembic/versions/__pycache__/

# ===============================
# IDE / Editor
# ===============================
.vscode/
.idea/

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Tests & Coverage
# ===============================
.pytest_cache/
.coverage
htmlcov/

# ===============================
# Documentation
# ===============================
*.md
docs/

# ===============================
# Docker
# ===============================
Dockerfile
docker-compose.yml
